<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container-fluid cl">
            <a class="logo navbar-logo f-l mr-10 hidden-xs" href="/">iTrader.Admin</a>
            <span class="logo navbar-slogan f-l mr-10 hidden-xs">v0.1</span>
            <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
                <ul class="cl">
                    <li>admin</li>
                    <li id="logout">
                        <a href="/admin/user/logout" title="Logout">
                            <i class="Hui-iconfont" style="font-size:18px">&#xe726;</i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>