<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-picture">
            <dt>
                <i class="Hui-iconfont">&#xe613;</i> System
                <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li>
                        <a data-href="/admin/setting/index" data-title="Setting" href="javascript:void(0)">Setting</a>
                    </li>
                    <li>
                        <a data-href="/admin/html" data-title="HTML File" href="javascript:void(0)">HTML File</a>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-article">
            <dt>
                <i class="Hui-iconfont">&#xe616;</i> Product
                <i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd>
                <ul>
                    <li>
                        <a data-href="/admin/product/fund/" data-title="FUND Manage" href="javascript:void(0)">FUND Manage</a>
                    </li>
                    <li>
                        <a data-href="/admin/product/bond/" data-title="Daily BOND List" href="javascript:void(0)">Daily BOND List</a>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>