<div id="account-summary-panel" class="panel panel-default">
    <div class="panel-heading">
        <a href="javascript:void(0);" data-update="account"><i class="text-muted fa fa-refresh icon-refresh"></i></a>
        <span data-i18n="assets_account_summary_title"></span>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-12" id="account-summary-item">
                <table id="account-summary-table" class="table table-bordered table-hover table-condensed table-striped">
                    <thead id="account-summary-thead">
                    </thead>
                    <tbody id="account-summary-tbody">
                    </tbody>
                </table>
                <p class="help-block pull-right" style="margin:0px" data-i18n="assets_account_summary_remark_message"></p>
            </div>
        </div>
    </div>
</div>