option {
    padding: 0px;
}

hr {
    margin: 5px 0 5px 0;
}

.msclear input::-ms-clear {
    display:none;
}

.container-banner {
    background-image: url('/images/banner_bg.png');
    background-repeat: repeat;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span.pointer:hover {
    cursor: pointer
}

.icon-margin {
    margin-right: 8px;
}

.icon-refresh {
    margin-right: 3px;
}

.navbar {
    font-size: 15px;
}

td.copyprice {
    cursor: pointer;
}

td.pointer {
    cursor: pointer;
}

.panel-ticket .form-group {
    margin-bottom: 10px;
}

.panel-ticket .btn-clear {
    margin-top: 8px;
}

.panel-ticket .ticket-text {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -10px;
}

.panel-ticket .help-block {
    margin-top: -5px;
    margin-bottom: 5px;
}

.input-group-addon.hint {
    color: #ccc;
    border-left: none;
    background-color: #fff;
}

.input-hint {
    float: right;
    top: -25px;
    right: 8px;
    position: relative;
    z-index: 1000;
    color: #AEA79F;
    height: 0px;
}

.btn-print {
    margin-top: 5px;
    margin-left: 5px;
    padding: 1px 5px 1px 5px !important;
}

.search-box {
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: -5px;
    margin-left: 10px;
}

.pagination-input {
    padding: 0px;
    margin-left: -5px;
    margin-right: 5px;
    margin-bottom: -1px;
    height: 18px;
    width: 30px !important;
    text-align: center;
    font-size: 11px;
    /* compatible with IE */
    border-style: solid;
    border-width: 1px;
    border-color: inherit;
}


/* ticket */

.ticket-hint {
    right: 40px;
}

.ticket-fund-radio-group {
    margin-top: -10px;
}
.ticket-fund-radio-group label {
    margin-left: 10px;
    margin-right: 20px;
}

.ticket-bond-radio-group {
    margin-top: -10px;
}
.ticket-bond-radio-group label {
    margin-left: 10px;
    margin-right: 20px;
}

/*tooltip*/

.tooltip-inner {
    max-width: 1000px;
}

.portfolio-hint td {
    padding: 10px;
    text-align: left;
    word-break: keep-all;
    white-space: nowrap;
}

.trading-password-label {
    margin-top: 5px;
}

.filter-group {
    margin-top: 8px;
}

.alert-condensed {
    padding: 2px;
}

.filter-input {
    width: 100px;
    height: 22px;
    border-color: #337ab7;
    border: 0px;
    background-color: #337ab7;
    color: #fff;
    padding-left: 5px;
}

/* both fund & bond trade page */
.table-green th {
    background-color: #E5EECC;
}

.table-red th {
    background-color: #F2DEDE;
}

th.th-green {
    background-color: #E5EECC;
}

th.th-red{
    background-color: #F2DEDE;
}

/* fund trade */
.fund-item {
    float: left;
    height:74px;
    width: 205px;
    padding: 4px;
    border: 1px solid #dddddd;
    margin: 4px;
    border-collapse: collapse;
}

.fund-item:hover {
    border: 1px solid #3879D9;
}

table.fund-item {
    table-layout:fixed;
    word-wrap:break-word;
}

.fund-item .fund-item-nav-label {
    width: 35px;
}

.fund-item .fund-item-nav {
    width: 135px;
}

.fund-checked {
    border:1px solid #3879D9;
}

/* bond trade */
.bond-item {
    float: left;
    height:74px;
    width: 205px;
    padding: 4px;
    border: 1px solid #dddddd;
    margin: 4px;
    border-collapse: collapse;
}

.bond-item:hover {
    border: 1px solid #3879D9;
}

table.bond-item {
    table-layout:fixed;
    word-wrap:break-word;
}

.bond-item .bond-item-nav-label {
    width: 95px;
}

.bond-item .bond-item-nav {
    width: 135px;
}
.bond-checked {
    border:1px solid #3879D9;
}

th.account-balance-header {
    background-color:#F2F2F2; 
    color:#000
}

#account-balance-panel .multi-cash-balance {
     background-color: #F5F5F5;
     margin-top: 8px;
     border-top: 1px solid #000;
     width: 100%;
     font-size: 85%;
     padding: 0px 8px;
}