<div class="container-banner">
    <% var bannerName = 'banner.png'; %>
    <% if(typeof banner !== 'undefined' && banner) { bannerName = banner } %>
    <img src="/images/<%= bannerName %>" />
</div>