<% if(!user.skipTradingPassword) {%>
    <div class="row">
        <div class="form-group">
            <label class="col-sm-3 control-label trading-password-label" data-i18n="order_confirmation_user_password"></label>
            <div class="col-sm-5">
                <input type="password" name="password" class="form-control input-sm" data-i18n="order_confirmation_user_password" autocomplete="off" prevent-submit required>
            </div>
        </div>
    </div>
    <% } %>