<div class="loaders">
    <div class="loader">
        <div class="loader-inner line-scale" style="margin: 0 auto;width: 100px;margin-top: 150px;">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>