<div id="fund-market-panel">
    <div id="fund-market-filter" class="filter-group">
        <div class="btn-group btn-group-xs" id="orderbook-status-dropdown-group">
        </div>
    </div>
    <table id="fund-market-table" class='table table-bordered table-hover table-condensed table-striped'></table>
</div>