<div class="tab-pane" id="tab-portfolio">
    <div id="portfolio-panel" class="panel">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="filter-group" id="portfolio-dropdown-group"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="text-right" id="portfolio-search" style="margin-top: 8px">
                    <div class="dt-buttons pull-right">
                        <a class="dt-button buttons-print btn-print" tabindex="0" aria-controls="price-quote-table">
                            <i class="fa fa-lg fa-print text-muted"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="">
            <table id="portfolio-table" class="table table-bordered table-hover">
                <thead id="portfolio_thead">
                </thead>
                <tbody id="portfolio_tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>