<div class="settlement_detail hidden" id="settlement_detail_SD_SW_TC">
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label" data-i18n="settlement_SD_SW_symbol"></label>
            <div class="col-sm-6">
                <input type="text" name="symbol" class="form-control" required>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label" data-i18n="settlement_SD_SW_quantity"></label>
            <div class="col-sm-6">
                <input type="text" name="amount" class="form-control" required>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label" data-i18n="settlement_SD_SW_HKSCC_no"></label>
            <div class="col-sm-6">
                <input type="text" name="hkscc_no" class="form-control" required>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label" data-i18n="settlement_SD_SW_party_name"></label>
            <div class="col-sm-6">
                <input type="text" name="party_name" class="form-control" required>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label" data-i18n="settlement_SD_SW_party_contact_name"></label>
            <div class="col-sm-6">
                <input type="text" name="party_contact_name" class="form-control" required>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label" data-i18n="settlement_SD_SW_party_contact_no"></label>
            <div class="col-sm-6">
                <input type="text" name="party_contact_no" class="form-control" required>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label" data-i18n="settlement_SD_SW_client_no"></label>
            <div class="col-sm-6">
                <input type="text" name="client_no" class="form-control" required>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label" data-i18n="settlement_SD_SW_client_name"></label>
            <div class="col-sm-6">
                <input type="text" name="client_name" class="form-control" required>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label" data-i18n="settlement_SD_SW_client_contact_no"></label>
            <div class="col-sm-6">
                <input type="text" name="client_contact_no" class="form-control" required>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label" data-i18n="settlement_SD_SW_payment_type"></label>
            <div class="col-sm-9">
                    <label class="form-inline">
                            <input type="radio" name="payment_type" value="DVP">
                            <span data-i18n="settlement_payment_DVP"></span>
                            <input type="text" name="payment_input" class="form-control" required>
                        </label>
                <div>
                    <label>
                            <input type="radio" name="payment_type" value="FOP">
                            <span data-i18n="settlement_payment_FOP"></span>
                        </label>
                </div>
            </div>
        </div>
    </div>