<!-- here cannot use double quotation marks -->
<span class='input-group-addon ticket-spinner'>
    <a href='javascript:;' class='spin-up' data-spin='up' tabindex='-1'><i class='fa fa-caret-up text-muted'></i></a>
    <a href='javascript:;' class='spin-down' data-spin='down' tabindex='-1'><i class='fa fa-caret-down text-muted'></i></a>
</span>