<div id="fund-book-panel">
    <div id="fundbook-filter" class="filter-group">
        <div class="btn-group btn-group-xs" id="fundbook-status-dropdown-group">
        </div>
    </div>
    <table id="fund-book-table" class="table table-bordered table-hover table-condensed table-striped">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>