<br />
<div id="price-panel">
    <div class="col-lg-8">
        <table class="col-md-8 table table-bordered price-table">
            <tr>
                <td colspan="4" class="symbol-cell">
                    <div class="col-md-4">
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <label data-i18n="price_symbol"></label>
                                <input type="text" class="form-control" id="price-symbol-code">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 ellipsis">
                        <span data-tag="symbolName"></span>
                    </div>
                    <div class="col-md-4 text-right">
                        <a href="javascript:void(0);" id="price-refresh"><i class="text-muted fa fa-refresh icon-refresh"></i></a>
                        <span data-i18n="price_update_time"></span>
                        <span id="price-update-time"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" rowspan="2" class="last-cell copyprice">
                    <p class="text-left text-name" data-i18n="price_last"></p>
                    <p class="text-center text-last-price" data-tag="3" data-format="price"></p>
                </td>
                <td colspan="2" class="bid-cell copyprice">
                    <p class="text-left text-name" data-i18n="price_bid"></p>
                    <p class="text-center text-bid-price" data-tag="1" data-format="price"></p>
                    <p class="text-right"><span class="text-name" data-i18n="price_quantity"></span>&nbsp;
                        <span class="text-value" data-tag="16" data-format="quantity"></span></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="ask-cell copyprice">
                    <p class="text-left text-name" data-i18n="price_ask"></p>
                    <p class="text-center text-ask-price" data-tag="2" data-format="price"></p>
                    <p class="text-right"><span class="text-name" data-i18n="price_quantity"></span>&nbsp;
                        <span class="text-value" data-tag="19" data-format="quantity"></span></p>
                </td>
            </tr>
            <tr>
                <td class="info-cell">
                    <div class="col-sm-6 text-left">
                        <span class="text-name" data-i18n="price_open"></span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <span class="text-value" data-tag="133" data-format="price"></span>
                    </div>
                    <div class="col-sm-6 text-left">
                        <span class="text-name" data-i18n="price_pClose"></span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <span class="text-value" data-tag="31" data-format="price"></span>
                    </div>
                </td>
                <td class="info-cell">
                    <div class="col-sm-6 text-left">
                        <span class="text-name" data-i18n="price_high"></span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <span class="text-value" data-tag="37" data-format="price"></span>
                    </div>
                    <div class="col-sm-6 text-left">
                        <span class="text-name" data-i18n="price_low"></span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <span class="text-value" data-tag="32" data-format="price"></span>
                    </div>
                </td>
                <td class="info-cell">
                    <div class="col-sm-6 text-left">
                        <span class="text-name" data-i18n="price_volume"></span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <span class="text-value" data-tag="17" data-format="quantity"></span>
                    </div>
                    <div class="col-sm-6 text-left">
                        <span class="text-name" data-i18n="price_turnover"></span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <span class="text-value" data-tag="38" data-format="amount"></span>
                    </div>
                </td>
                <td class="info-cell">
                    <div class="col-sm-6 text-left">
                        <span class="text-name" data-i18n="price_currency"></span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <span class="text-value" data-tag="23"></span>
                    </div>
                    <div class="col-sm-6 text-left">
                        <span class="text-name" data-i18n="price_lot_size"></span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <span class="text-value" data-tag="24" data-format="quantity"></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<br />
<br />
<br />