<div id="estatement-panel">
    <div id='eStatement_header' style="margin-top:8px;">
        <small><span data-i18n="eStatement_header_line1"></span></small>
    </div>
    <form class="form-inline" role="form">
        <div class="form-group">
            <div class="btn-group btn-group-xs" id="estatement-type" name="type">
            </div>
            <div class="btn-group btn-group-xs" id="estatement-period" name="period">
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group btn-group-xs ">
                <button type="button" class="btn btn-info" id="eStatement_btn">
            <i class="fa fa-search btn-icon-search"></i>
            <i class="fa fa-spinner fa-pulse hidden btn-icon-spinner"></i>
            <span data-i18n="btn_query"></span>
        </button>
            </div>
        </div>
    </form>
    <div id="eStatement_panel">
        <table id="estatement-table" class="table table-hover table-bordered table-condensed table-striped prevent-popup-detail">
        </table>
    </div>
</div>