<div id="price-quote-panel">
    <div id="pricequote-filter" class="filter-group">
        <div class="btn-group btn-group-xs" id="pricequote-status-dropdown-group">
        </div>
    </div>
    <div class="history-table-wrapper">
        <table id="price-quote-table" class="table table-hover table-bordered table-condensed table-striped">
        </table>
    </div>
</div>