<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width" />
    <title>iTrader.admin</title>
    <% include ../components/base.ejs %>
</head>

<body class="loader-container cl login-bg">
    <div class="container cl ">
        <div class="login-box">
            <div class="login-panel codeView">
                <div class="panel-body cl">
                    <form action="" method="post" class="form form-horizontal" id="">
                        <div class="col-12 cl">
                            <div class="input-group radius">
                                <label class="login-icon f-l">
                                    <i class="icon Hui-iconfont">&#xe60d;</i>
                                </label>
                                <input type="text" name="username" class="login-inp login-act" autocomplete="off" placeholder="uesrname">
                            </div>
                        </div>
                        <div class="col-12 cl">
                            <div class="input-group radius">
                                <span class="login-icon  f-l">
                                    <i class="icon Hui-iconfont">&#xe63f;</i>
                                </span>
                                <input type="password" name="password" class="login-inp login-pwd" autocomplete="off" placeholder="password">
                            </div>
                        </div>
                        <div class="col-12 cl">
                            <input id="login-submit" type="submit" class="btn btn-warning size-L radius login-btn" value="&nbsp;Login&nbsp;">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>