<div class="settlement_detail hidden" id="settlement_detail_CW">
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label" data-i18n="settlement_CW_currency"></label>
            <div class="col-sm-6">
                <select class="form-control cw-currency" name="currency">
                        <% for(var i = 0; i < currency_list.length; i++) { %>
                            <option value="<%= currency_list[i] %>">
                                <%= currency_list[i] %>
                            </option>
                            <% } %>
                    </select>
            </div>
        </div>
        <div class="form-group form-group-sm help-block detail">
            <small class="col-sm-9 col-sm-offset-3"><span data-i18n="settlement_CW_withdrawal_balance"></span>
                    <span class="with-balance"></span></small>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label" data-i18n="settlement_CW_amount"></label>
            <div class="col-sm-6">
                <input type="text" name="amount" class="form-control" required>
            </div>
        </div>

        <input type="hidden" value="--" name="bank_name">
        <input type="hidden" value="--" name="bank_account_no">
        <div class="form-group form-group-sm">
            <label class="col-sm-3 control-label" data-i18n="settlement_instruction_remark"></label>
            <div class="col-sm-6">
                <input type="text" name="remark" class="form-control">
            </div>
            <span data-i18n="settlement_instruction_option"><span>      
            </div>
    </div>
