<div class="settlement_detail hidden" id="settlement_detail_SD_SW">
            <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label" data-i18n="settlement_SD_SW_symbol"></label>
                <div class="col-sm-6">
                    <input type="text" name="symbol" class="form-control" required>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label" data-i18n="settlement_SD_SW_quantity"></label>
                <div class="col-sm-6">
                    <input type="text" name="amount" class="form-control" required>
                </div>
            </div>
        </div>