<div id="cash-book-panel">
    <table id="cash-book-table" class="table table-bordered table-hover table-condensed table-striped">
        <thead id="cash-book-thead">
        </thead>
        <tbody id="cash-book-tbody">
        </tbody>
    </table>
</div>