<div id="quote-panel" class="panel panel-default">
    <div class="panel-heading">Stock Quote</div>
    <div class="panel-body">
        <table class="table table-hover table-bordered table-condensed">
            <tbody id="quote_tbody">
            </tbody>
        </table>
    </div>
</div>