<div class="panel panel-default" id="bond-disclosure-panel">
    <div class="container">
        <div class="disclaimer">
            <div class="container disclaimer-header">
                <h2 class="text-center" data-i18n="risk_disclosure_title"></h2>
            </div>
            <div class="row">
                <div id="bond-disclosure-content-div" class="container disclaimer-content"></div>
            </div>
            <div class="row">
                <form style="margin-top: 20px">
                    <div class="col-md-offset-5 col-md-1 col-xs-offset-4 col-xs-2">
                        <a type="button" class="col-sm-12 btn btn-outline btn-success btn-disclosure" id="bond-disclosure-accept-btn">
                            <span data-i18n="btn_accept"></span>
                        </a>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <a type="button" class="col-sm-12 btn btn-outline btn-danger btn-disclosure" href="/iTrader/">
                            <span data-i18n="btn_reject"></span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>