<div id="bond-trade-container">
<div class="sui-steps steps-auto bond-workFlow" ></div>
    <% if(bond_disclosure) { %>
        <% include bond_disclosure.ejs %>
    <% } %>
    <% include bond_list.ejs %>
    <% include bond_trade %>
</div>