<div id="fund-trade-container">
    <div class="sui-steps steps-auto fund-workFlow"></div>
    <% if(fund_disclosure) { %>
        <% include disclosure.ejs %>
    <% } %>
    <% include fund_list.ejs %>
    <% include index.ejs %>
</div>